.selected {
	background-color : #209e91; 
}

.chat-message{
	color: black;
}

.collapse-expand{
	float:right;
}

.slide-properties {
    height: 100%;
    position: fixed;
    right: 0;
    transition:0.5s;
    width: 30%;
}

.close-btn {
    display: inline-block;
    padding: 10px;
}

.input-group a{
    background: #26a69a none repeat scroll 0 0;
    border: 1px solid;
    color: #fff;
}