body {
	background: url(../images/blur-bg.jpg) no-repeat scroll center center/cover;
	font-family: 'Open Sans', sans-serif;
}

.selected {
	background-color: #209e91;
}

.chat-message {
	color: black;
}